= form_for @graphik do |f|
  - if @graphik.errors.any?
    #error_explanation
      %h2= "#{pluralize(@graphik.errors.count, "error")} prohibited this graphik from being saved:"
      %ul
        - @graphik.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :station_begin_id
    = f.select :station_begin_id, Station.all.map {|e| [e.name, e.id]}
  .field
    = f.label :station_end_id
    = f.select :station_end_id, Station.all.map {|e| [e.name, e.id]}
  .actions
    = f.submit 'Save'
