%h1 Listing graphiks

%table
  %thead
    %tr
      %th Station begin
      %th Station end
      %th
      %th
      %th

  %tbody
    - @graphiks.each do |graphik|
      %tr
        %td= graphik.station_begin.name
        %td= graphik.station_end.name
        %td= link_to 'Show', graphik
        %td= link_to 'Edit', edit_graphik_path(graphik)
        %td= link_to 'Destroy', graphik, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Graphik', new_graphik_path
