%p#notice= notice

%p
  %b Monday:
  = @day.monday
%p
  %b Tuesday:
  = @day.tuesday
%p
  %b Wed:
  = @day.wed
%p
  %b Thursday:
  = @day.thursday
%p
  %b Friday:
  = @day.friday
%p
  %b Saturday:
  = @day.saturday
%p
  %b Sunday:
  = @day.sunday
%p
  %b Graphik:
  = "Begin: " + @day.graphik.station_begin.name + ", End:" + @day.graphik.station_end.name

= link_to 'Edit', edit_day_path(@day)
\|
= link_to 'Back', days_path
