%h1 Listing do_not_stops

%table
  %thead
    %tr
      %th Station
      %th Graphik
      %th
      %th
      %th

  %tbody
    - @do_not_stops.each do |do_not_stop|
      %tr
        %td= do_not_stop.station.name
        %td= "Begin: " + do_not_stop.graphik.station_begin.name + ", End:" + do_not_stop.graphik.station_end.name
        %td= link_to 'Show', do_not_stop
        %td= link_to 'Edit', edit_do_not_stop_path(do_not_stop)
        %td= link_to 'Destroy', do_not_stop, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Do not stop', new_do_not_stop_path
