%p#notice= notice

%p
  %b Station:
  = @do_not_stop.station.name
%p
  %b Graphik:
  = "Begin: " + @do_not_stop.graphik.station_begin.name + ", End:" + @do_not_stop.graphik.station_end.name

= link_to 'Edit', edit_do_not_stop_path(@do_not_stop)
\|
= link_to 'Back', do_not_stops_path
